<h1>楽天ランキング</h1>
  <% @items.each_with_index do |item, i| %>
    <p>
      <%= i + 1 %><br>
      <%= image_tag (item['smallImageUrls'][0]) %>
      <%= item.name %><br>
      <%= item.catchcopy %><br>
    </p>
  <% end %>


