<h1>Admin::Homes#top</h1>

<% for @i in 1..3 do %>

  <% @items.each do |item| %>
    <p>
    <% if item.name.include?("ギフト") || item.catchcopy.include?("ギフト") || item.caption.include?("ギフト") ||
          item.name.include?("プレゼント") || item.catchcopy.include?("プレゼント") || item.caption.include?("プレゼント") %>
      <%= item.rank %><br>
      <%= image_tag (item['smallImageUrls'][0]) %>
      <%= item.name %><br>
      <%= item.catchcopy %><br>
    <% end %>
    </p>
  <% end %>
<% end %>


